html {
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(55, 44, 46, 1);
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: 'Roboto Mono', monospace;
}

main {
  text-align: center;
}

.default-font {
  font-family: 'Roboto', sans-serif;
}

#to-top {
  color: #de9e48;
  position: absolute;
  font-size: 2.5rem;
  position: fixed;
  bottom: 3vh;
  right: 2vw;
  text-shadow: 0px 0px 5px #7a431c;
}

#to-top:hover {
  opacity: 0.75;
}

/* UTILS */
.hidden {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.opacity-0 {
  opacity: 0;
  transition: opacity .5s;
}

.opacity-100 {
  opacity: 1;
  transition: opacity .5s;
}

.no-list-style {
  list-style: none;
}

.no-link-style {
  text-decoration: none;
  color: #ffffff;
}

.no-button-style {
  background-color: transparent;
  border: none;
  outline: none;
}

.button-default {
  background-color: #de9e48;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 2px;
  margin: 50px 0;
}

.button-large {
  font-size: 1.3rem;
  font-weight: bold;
}

.button-default:hover {
  opacity: .7;
  transition: opacity .3s;
}

.inline-block {
  display: inline-block;
}

.btn-light {
  color: #ffffff;
}

.overlay {
  width: 100vw;
  min-height: 100vh;
}

.overlay-dark {
  background-color: rgba(55, 44, 46, .8);
}

.padding-top-20 {
  padding-top: 20vh;
}

.padding-top-15 {
  padding-top: 15vh;
}

.padding-top-10 {
  padding-top: 10vh;
}

.padding-top-8 {
  padding-top: 8vh;
}

.yellow, a {
  color: #de9e48;
}

.section-heading {
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: 3px;
  padding-bottom: 5px;
  border-bottom: 4px solid #de9e48;
  margin: 0 auto;
  max-width: 200px;
  margin-bottom: 100px;
}

.lead-in {
  font-size: 1.25rem;
  font-family: 'Roboto Mono', monospace;
  max-width: 1200px;
  margin: 50px auto;
  line-height: 2.5rem;
}

.flex {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: row;
  width: 100%;
  padding: 0 9vw;
  box-sizing: border-box;
}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
} 

.white {
  color: #fff;
}

.alt-font {
  font-family: 'Roboto Mono', monospace;
}

.rotate {
  transform: rotate(-90deg) !important;
}

.text-container {
  margin-bottom: 50px;
}

.border-left {
  border-left: 4px solid #de9e48;
  padding-left: 10px;
}

.quote {
  line-height: 2.2rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
}

.text-upper {
  text-transform: uppercase;
}

/* HOME SECTION */
#home {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  transition: background 1.5s ease-in-out;
}

#home .button-default {
  display: inline-block;
}

.dev-bg {
  background-image: url('../images/web-dev-bg.png');
  background-size: cover;
  transition: background 1.5s ease-in-out;
}

.design-bg {
  background-image: url('../images/graphic-design-bg.png');
  background-size: cover;
  transition: background 1.5s ease-in-out;
}

.music-bg {
  background-image: url('../images/music-bg.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: background 1.5s ease-in-out;
}

.teaching-bg {
  background-image: url('../images/teaching-bg.jpeg');
  background-size: cover;
  background-position: right;
  transition: background 1.5s ease-in-out;
}

#name {
  font-size: 2.5rem;
  margin-bottom: 0;
}

#short-bio {
  margin-top: 0;
  margin-bottom: 25px;
}

#cursor {
  font-size: 2rem;
  position: relative;
  right: 5px;
}

#jobTitleOutput, #cursor {
  color: #de9e48;
}

#social {
  padding: 0;
  margin-top: 40px;
}

#social a {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #de9e48;
}

#social a:hover {
  opacity: 0.5;
  transition: opacity 0.3s;
}

#profile-img {
  width: 250px;
  border-radius: 100%;
  border: 10px solid #de9e48;
}

/* ABOUT SECTION */
#about {
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
}

#about-img {
  margin: 0 auto;
  border-radius: 100%;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
}

#about-img-container {
  padding: 0 25px;
  flex: 1;
}

#about-blurb {
  font-size: 1.25rem;
  line-height: 1.75;
  flex: 3;
  width: 100%;
  margin: 0 auto;
  min-width: 500px;
  padding: 0 5vw;
  box-sizing: border-box;
}

#about-blurb h3 {
  color:#de9e48;
  font-size: 2rem;
  margin: 0;
}

#about .lead-in {
  line-height: 1.25rem;
}

/* RESUME SECTION */
#resume {
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
}

/* PORTFOLIO SECTION */
#portfolio {
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
}

/* CONTACT SECTION */
#contact {
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
}

/* FOOTER */
.credits {
  font-size: 1rem;
  margin: 50px auto;
}

/* MAIN NAVIGATION STYLES */
#main-nav li {
  margin: 15px 0;
}

#main-nav {
  position: fixed;
  left: -10px;
  top: 25vh;
}

#main-nav a {
  padding: 15px;
  display: inline-block;
  font-size: 1.25rem;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 1.6rem;
  text-align: center;
  color: #563728;
  z-index: 110;
}

.show-on-hover {
  display: none;
}

#main-nav a:hover .show-on-hover {
  display: inline-block;
}

#main-nav a:hover {
  width: auto;
  transition: width .3s, padding .3s;
  padding: 15px 25px;
  color: #ffffff;
  background-color: #de9e48;
}

#main-nav .active a {
  background-color: #de9e48;
  color: #ffffff;
}

#hide-menu:hover, #show-menu:hover {
  cursor: pointer;
  color: #de9e48;
  transition: all .3s;
}

#hide-menu {
  font-size: 1.2rem;
  position: relative;
  right: 10px;
  text-shadow: 0px 0px 5px #7a431c;
}

#show-menu {
  position: fixed;
  left: -30px;
  top: 40vh;
  font-size: 1.5rem;
  text-shadow: 0px 0px 5px #7a431c;
}

.off-screen-left {
  left: -150px !important;
  transition: all .5s;
}

.on-screen-left {
  left: -10px !important;
  transition: all .3s;
}

/* MOBILE NAVIGATION STYLES */
#mobile-nav {
  background-color: #563728;
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 2px;
  padding-top: 15vh;
}

#mobile-nav h2 {
  font-size: 2rem;
  letter-spacing: 2px;
  color: #de9e48;
}

#mobile-nav ul {
  padding-left: 0;
  margin-left: 2px;
}

#mobile-nav a {
  padding: 15px 0;
  display: inline-block;
  width: 100%;
  z-index: 110;
}

#mobile-nav a:hover {
  color: #de9e48;
  transition: all .3s;
}

.nav-trigger {
  font-size: 1.75rem;
  position: fixed;
  top: 25px;
  right: 25px;
}

.nav-trigger:hover {
  cursor: pointer;
  color: #de9e48;
  transition: all .3s;
}

.off-screen {
  right: 200vh;
  transition: all .5s;
}

.on-screen {
  right: 0;
  transition: all .3s;
}

#nav-trigger-close {
  margin-right: 25px;
}

.mobile-active {
  color: #de9e48;
}

/* RESPONSIVE STYLES */
/* Phones */
@media only screen and (max-width: 480px) {
  .phone-only {
    display: none;
  }

  .lead-in {
    padding: 0 2vw;
  }

  html {
    font-size: 12px;
  }
}

/* Tablets */
@media only screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }

  .lead-in {
    font-size: 1rem;
  }

  #about-img-container {
    padding: 0 10vw;
  }

  #about-blurb {
    padding: 0 5vw;
  }

  .flex {
    padding: 0 2vw;
  }
}

/* Computers */
@media only screen and (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}
